---
import "@/globals.css";

import "@fontsource/space-mono";
import "@fontsource-variable/roboto-mono";
import { Toaster } from "src/components/ui/sonner";
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <link rel="icon" type="image/svg+xml" href="/line-chart.svg" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Digitize Plot</title>

    <link href="/icons/css/fontawesome.css" rel="stylesheet" />
    <link href="/icons/css/brands.css" rel="stylesheet" />
    <link href="/icons/css/solid.css" rel="stylesheet" />
  </head>
  <body>
    <slot />
    <Toaster position="bottom-center" />
  </body>
</html>
